<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">About Us</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Welcome to American Dental Clinic</h3>

                {% for about in site.data.about-us %}
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon {{ about.icon }}"><use xlink:href="#{{ about.icon }}"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>{{ about.details }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-sm-6">
                <img src="img/about.jpeg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->


