<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <img src="img/LOGO.png" alt="American Dental Clinic" width="300" height="300">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <form onsubmit="sendEmail(event)">
                <div class="form-group">
                   <h4><svg class="icon icon-envelope-o">
                            <use xlink:href="#icon-envelope-o"></use>
                       </svg>Make an Appointment</h4>
                    <div id="success"></div>
                    <div id="alert-field" class="alert hidden">
                        <p>Uh oh! Something went wrong!</p>
                    </div>    
                </div>    

                {% for c in site.data.contact %}
                    <div class="{{ c.div-cl }}">
                        <input type="{{ c.type }}" id="{{ c.id }}" name="{{ c.id }}" placeholder="{{ c.placeholder }}" required>
                    </div>
                {% endfor %}
            
                <div class="form-group form-field">
                    <textarea id="body-field" name="body-field" placeholder="Type your message here" required></textarea>
                </div>
            
                <div class="form-group form-field">
                    <input type="submit" class="btn btn-default" value="Send">
                </div>
            
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->





