<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <form onsubmit="sendEmail(event)">
                <div class="form-group">
                   <h4><svg class="icon icon-envelope-o">
                            <use xlink:href="#icon-envelope-o"></use>
                       </svg>Make an Appointment</h4>
                    <div id="success"></div>
                    <div id="alert-field" class="alert hidden">
                        <p>Uh oh! Something went wrong!</p>
                    </div>    
                </div>    

                <div class="form-field form-group">
                    <input type="text" id="name-field" name="name-field" placeholder="Your name" required>
                    <!-- <input type="text" class="form-control" id="name-field" name="name-field" placeholder="Your name" required> -->
                </div>
            
                <div class="form-group form-field">
                    <input type="phone" class="form-control" id="phone-field" name="phone-field" placeholder="Phone number" required>
                </div>

                <div class="form-group form-field">
                    <input type="email" class="form-control" id="email-field" name="email-field" placeholder="Email address" required>
                </div>
            
                <div class="form-group form-field">
                    <textarea id="body-field" name="body-field" class="form-control" placeholder="Type your message here" required></textarea>
                </div>
            
                <div class="form-group form-field">
                    <input type="submit" class="btn btn-default" value="Send">
                </div>
            
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->





