<div class="three-shade-col">
    <div class="col-sm-9" style="text-align: left; font-size: 14px">
        <h5 style="color: white">Dr. Makara</h5>
        <p>
            He has worked at ADC for 9 years. Patients are drawn to hom because o fhis exceptionally gentle hand skills. During his time at ADC he has completed various continuing education courses in advanced dentistry. This includes training in the U.S. as an implant specialist, and gratuating from UCLS's oral surgeon program.
        </p>
        <p>
            Co-president of ADC, been practicing dentistry since 2005. Member of Dental Council of Cambodia and Cmbodia Dental Association, CDA.
        </p>
        <p>
            2014: Joined CMDA and attended the anual conference (CMDE), Thailand.
        </p>
        <p>
            2013: Attended training for ICOL Implant Dentristry, Vietnam.
        </p>
        <p>
            2012: Participated IDEM dental and exhitbitional congress, Hong Kong.
        </p>
        <p>
            2011: Received additional training, cert. of dental implant surgenery and hands-on Nobel Biocare, Yorba Linda Institute, United States.
        </p>
        <p>
            2009: Attended FDI annual dental congress in Singapore.
        </p>
        <p>
            2005: Graduated, started word as general dentist at CSI dental department and later join American Dental Clinic in 2009.
        </p>
        <p>
            1998: Studied at Faculty of Dentistry, University of Health Sciences, Cambodia.
        </p>
    </div>
    <div class="col-sm-9" style="text-align: left; font-size: 14px">
        <h5 style="color: white">Dr. Pagna</h5>
        <li>Dr. CHEN PAGNA has graduated from Doctoral of Dental Surgery degree (DDS) in 2018 from International University (IU), Faculty of Dentistry. He was awarded certificates of outstanding student continuously during 7 years of student life.</li>
        <li >With Asia Pacific Dental Student&rsquo;s Association (APDSA), Dr. Pagna has participated since 2012 as a Cambodian dental student representative during Mid-Year Meeting (MYM) in Thailand.</li>
        <li>By 2014, he was elected to be an International President of APDSA as Cambodia was hosting the APDSA congress. In his last few years of school, he started serving voluntarily in public service such as community dental work in Correctional Center under Non-Government Organization and some rural areas as a team leader under his supervisors.</li>
        <li>In 2016, he has been selected to Japan to observe clinical practice in private dental office. Afterward in 2017, he was selected as Cambodia dental student representative to IDEM Singapore student leadership as part of APDSA activities.</li>
        <li>After graduation, Dr. Pagna has attended dental conferences and seminars in abroad in various country such as, Thailand, Vietnam, Singapore, etc.</li>
        <li>Nowadays, Dr. Pagna is practicing dentistry in American Dental Clinic and working as a clinical tutor and lecturer at faculty of dentistry, International University.</li>
    </div>
</div>

